{% extends "admin/layout.twig" %}

{% block content %}

<div id="section" data-section="{{ section }}" class="row-fluid">

    <div class="span12" data-bind="visible: statusMessageIsVisible, css: statusMessageClass">
        <div>
            <h2 data-bind="text: statusMessage"></h2>
            <br/>
            <div data-bind="visible: loaderIsVisible">
                <img src="/web/img/ajax-loader.gif"/>
            </div>
        </div>
    </div>

    <div id="uploader-panel" class="span12" data-bind="visible: uploaderIsVisible">

        <h1>Carica le tue immagini</h1>

        <div class="alert alert-error" data-bind="visible: warningMessageIsVisible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Errore</strong> Puoi caricare solo immagini .jpg, .bmp, .gif
        </div>

        <div id="progress-panel" data-bind="visible: progressIsVisible">
            <h4>Percentuale caricamento file</h4>

            <div class="progress progress-striped active">
                <div class="bar" style="width: 0%;"></div>
            </div>
        </div>

        <div class="image-list">
            <ul class="thumbnails" data-bind="foreach: rows">
                <div class="thumbnail-row row-fluid" data-bind="foreach: $data">
                    <li class="span3">
                        <a href="#" class="thumbnail">
                            <img data-bind="attr : {src : src, title: name}">
                        </a>

                        <h4>Titolo</h4>
                        <input type="text" data-bind="value: name" />

                        <h4>Dimensioni</h4>

                        <p data-bind="text: size + ' Kilobyte'"></p>

                        <div class="btn btn-danger" data-bind="click: $root.removeImage">
                            <i class="icon-white icon-trash"></i>Rimuovi
                        </div>

                    </li>

                </div>
            </ul>
            <div class="btn btn-large btn-success" data-bind="visible: uploadButtonIsVisible, click: sendData">
                <i class="icon-white  icon-upload"></i> Upload
            </div>
        </div>

        <input id="multiple-file" type="file" multiple="multiple" data-bind="event : {change: fileHandler}"/>

        <div id="upload-button" class="btn btn btn-large btn-block btn-primary" data-bind="click: showUploader">
            <i class="icon-white icon-plus-sign"></i> Scegli immagini
        </div>

    </div>

</div>

<div class="row-fluid">
    <div>
        <a href="/admin/{{ section }}" class="btn btn-large btn-warning pull-right">
            <i class="icon-white icon-arrow-left"></i> Torna all'elenco
        </a>
    </div>
</div>
{% endblock %}

{% block javascript %}
{{ parent() }}
<script src="{{ app.request.baseUrl }}/web/js/view-model/admin/multiple-uploader.js"></script>
{% endblock %}