/* 
    Document   : newCascadeStyleSheet
    Created on : 23-giu-2013, 10.02.41
    Author     : Gabriele
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

