<header>
    <h1 class="title">Biography</h1>
</header>

<article data-bind="with: biography">
    <img class="img-rounded" 
         data-bind="attr: {src : content.image, title: content.title, alt: content.title}"/>
</article>

<article data-bind="with: biography">
    <div class="arrow-up"></div>

    <p class="lead" data-bind="text: content.description">

    </p>
</article>